* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/login-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  width: 25rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}
h1 {
  font-size: 30px;
  font-weight: light;
  background-image: linear-gradient(to right, #02a4f1, white);
  -webkit-background-clip: text; /* For older webkit browsers */
  background-clip: text;
  color: transparent;
}
.welcome {
  text-align: center;
  color: #02a4f1;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}
button {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background: linear-gradient(to right, rgb(2, 164, 241), rgba(166, 166, 184, 0.979));
  color: white;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(to right, rgba(166, 166, 184, 0.979), rgb(2, 164, 241));
  transition-duration: background 0.5s ease;
}
input {
  padding: 10px;
  padding-left: 40px;
  margin: 10px 0;
  border: white 1px solid;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  outline: none;
  margin-top: 13px;
}

input:focus {
  border-color: #02a4f1;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

form .forgot-password a {
  color: white;
  text-decoration: none;
  text-align: right;
  font-size: 14px;
}
form .forgot-password a:hover {
  color: #02a4f1;
  text-decoration: underline;
}

.fa-lock {
  top: 38%;
}
.fa-user {
  top: 16%;
}

.fa-eye,
.fa-eye-slash {
  top: 38%;
  left: 73%;
  cursor: pointer;
  pointer-events: auto;
}
.fa-eye-slash {
  display: none;
}

i {
  position: absolute;
  left: 22%;
  pointer-events: none;
  color: #02a4f1;
}

.remember-me {
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: flex-start;
  color: white;
  font-size: 14px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  padding: 0;
}

input[type="checkbox"]:checked {
  background-color: #02a4f1;
  border-color: #02a4f1;
}

input[type="checkbox"]:checked::after {
  content: "✓";
  color: white;
  position: absolute;
  top: 56.4%;
  left: 21.4%;
  font-size: 13px;
}

#remember-me {
  margin-right: 8px;
}

.error-message {
  color: red;
  font-size: 12px;
  position: absolute;
  left: 20.5%;
  border-radius: 3px;
  z-index: 100;
  display: none; /* Initially hidden */
}

.error-message.username-error {
  top: calc(16% + 30px); /* Below username input */
}

.error-message.password-error {
  top: calc(38% + 30px); /* Below password input */
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

@media (max-width: 500px) {
  .card {
    width: 17rem;
  }
  button {
    width: 100%;
  }
  .input {
    width: 90%;
  }
  i {
    left: 10%;
  }
  .fa-eye,
  .fa-eye-slash {
    left: 82%;
  }
  input[type="checkbox"]:checked::after {
    top: 58%;
    left: 8.5%
  }
  .error-message {
    left: 5%;
  }
  .remember-me {
    width: 100%;
    margin-top: 10px;
  }
}
